{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
<div style="padding: 0.5em;">
    <div class="alert alert-info" style="display:inline-block;">
        <i class="fa fa-info-circle"></i> {% trans 'This page contains the admissions submitted by the participants. These must be processed by the manager.' %}
    </div>
    <a class="btn btn-primary pull-right" id="btn_validate_admissions" data-toggle="modal" data-target="#admissions_to_accept_modal">
        <i class="fa fa-check-circle"></i> {% trans 'Process selected admissions' %}
    </a>
    {% if admissions_to_accept %}
        <div class="row">
            <div class="col-md-6">
                <strong style="margin-left:10px;color:grey;"> {{ admissions_to_accept|length }} {% trans 'Admissions to process'|lower %} </strong>
            </div>
        </div>
    {% endif %}
</div>

<form id="admissions_to_accept_form" method="post" action="{% url 'accept_admissions' %}">
    {% csrf_token %}
    <table class="table table-striped table-hover" id="tab_admissions_to_accept" style="width: 100%;">
        <thead>
        <tr>
            <th>
                {% if admissions_to_accept %}
                    <input id="id_check_all_admissions_to_accept" type="checkbox" name="check_all"
                           title="{% trans 'Check All' %}"/>
                {% endif %}
            </th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'First name' %}</th>
            <th>{% trans 'Email' %}</th>
            <th>{% trans 'Formation' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for admission in admissions_to_accept %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_admissions_to_accept" class="selected_admissions_to_accept" value="{{ admission.id }}" />
                    </td>
                    <td>
                        <a href="{% url 'admission_detail' admission_id=admission.id %}#admission">
                            {{ admission.person_information.person.last_name | default_if_none:'-' }}
                        </a>
                    </td>
                    <td>{{ admission.person_information.person.first_name | default_if_none:'-'}}</td>
                    <td>{{ admission.person_information.person.email | default_if_none:'-' }}</td>
                    <td>{{ admission.formation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% include "fragment/tasks/admissions_to_accept_modal.html" %}

{% block script %}
    <script>
        $("#id_check_all_admissions_to_accept").click(function(){
            $('input:checkbox.selected_admissions_to_accept').not(this).prop('checked', this.checked);
        });


        $('#tab_admissions_to_validate').DataTable( {
            "order": [[ 1, "asc" ]],
            "paging": false,
            "info": false,
            "bFilter": false,
            "language":
            {
                "sEmptyTable": "{% trans 'No data' %}",
            },
            // Disable sorting on the first column
            "aoColumnDefs" : [ {
                'bSortable' : false,
                'aTargets' : [ 0 ]
            } ]
        } );
    </script>
{% endblock %}

