{% load i18n %}

<div class="dropdown  text-right" style="margin-right: 10px;">
    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {% trans 'Actions' %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-large row text-right pull-right">
        <li>
            {% include 'blocks/button/archive.html' %}
        </li>
        <li role="separator" class="divider"></li>
        <li>
            {% include "blocks/button/xls.html" with button_title=button_title %}
        </li>
        {% if perms.admission.can_create_json %}
            <li role="separator" class="divider"></li>
            <li>
                <a id="btn_create_json"
                   href="{% url 'json_file' %}"
                   title="{%  trans 'Create Json file to export data to EPC' %}">
                    &nbsp;{%  trans 'Create Json file to export data to EPC' %}
                </a>
            </li>
        {% endif %}

    </ul>
</div>